* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Navbar styles */
.first-navbar {
    background-color: white;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 1.5rem;
    color: #287E74;
    font-weight: bold;
}

.search-box {
    flex-grow: 0.15;
    margin: 0 10px;
    position: relative;
}

#search-input {
    width: 100%;
    padding: 10px;
    padding-right: 8px; /* Space for search icon */
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 0.5px solid #287E74;
}

#search-icon {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.user-profile {
    position: relative;
}

.user-icon {
    margin-right: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    display: block;
    color: #333;
    text-decoration: none;
}

/* Show dropdown on hover */
.user-profile:hover .dropdown-content {
    display: block;
}

.second-navbar {
    background-color: #287E74;
    color: #fff;
}

.second-navbar .container {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-links li a:hover {
    text-decoration: underline;
}


.content {
    display: flex;
}

.dialog-box {
    width: 350px;
    height: 400px;
    margin: 80px;
    background-color: #287E74;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
}

#bell-icon {
    position: relative;
    left: 160px;
    top: 8px;
    right: 10px;
    height: auto;
    width: auto;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 20px;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 250px;
    right: 900px;
    background-color: white;
    color:#287E74;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-option {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}

.notification-option label {
    margin-left: 5px;
}

.notification-option input[type="time"] {
    margin-left: 20px;
}

.save-button {
    background-color: #287e74;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #1e594f;
    font-weight: bold;
}


.greeting {
    font-size: 36px;
    font-weight: bold;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;;
}

#location-icon {
    width: 40px;
    height: 40px;
    margin-right: -20px;
    margin-top: 20px;
}

.aqi {
    margin-top: 20px;
}

.aqi-box {
    background-color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aqi-number {
    font-size: 24px;
    color: #287E74;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.aqi-category {
    margin-top: 22px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-more {
    margin-top: 44px;
}

.see-more a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.see-more a:hover {
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .dialog-box {
        margin: 10px;
    }
}

.polluting-particles {
    margin-top: 40px;
}

.pollutant {
    margin-bottom: 15px;
}

.pollutant-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    background-color: #ddd;
    height: 15px;
    width: 300px;
    border-radius: 10px;
}

.progress {
    background-color: rgba(19, 230, 166, 0.698);
    height: 100%;
    border-radius: 10px;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

#pm10-progress {
    width: 45%;
}

#pm25-progress {
    width: 25%;
}

#co-progress {
    width: 85%;
}

#so2-progress {
    width: 15%;
}

#no2-progress {
    width: 50%;
}

#o3-progress {
    width: 95%;
}

@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}